        body{ font: 14px sans-serif;background-image: url("/img/drvo.jpg"); }
        .wrapper{ width: 350px; padding: 20px;     margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px; }